main = ".open-next/worker.js"
name = "2025-blog-public"
compatibility_date = "2025-03-25"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[build]
command = "pnpm run build:cf"